<!DOCTYPE html>
<html>
<head>
    <title>HTML文件样式回归测试工具v1.0</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script type="text/javascript" src="js/lib/jquery-1.7.2.js"></script>

</head>
<body>
<div class="warp">
    <ul id="nav" class="nav nav-tabs">
        <li class="active" data-for="btn-group-test">
            <a href="#">回归测试</a>
        </li>
        <li data-for="btn-group-css"><a href="#">CSS文件分析</a></li>
    </ul>
    <input type="file" id="uploadCss" class="hidden"/>
    <script>
        document.write('<input id="filePathDialog" type="file" nwdirectory nwworkingdir="" class="hidden">')
    </script>

    <div class="item file-path input-append">
        <p><i class="icon-folder-open"></i> html文件目录：
        <script>
            document.write('<input id="dest" type="text" class="path span4" value="F:/public_html/node-webkit/nwjs-v0.12.2-win-x64/debug/regression_testing/test" style="width: 504px;">')
            //document.write('<input id="dest" type="text" class="path span4" value="" style="width: 504px;">')
        </script>
            <button class="btn" id="laodTestData">读取文件</button>
        </p>
    </div>
    <div id="dragUpload" class="item upload-area">
        <div class="label-area"><i class="icon-plus"></i>将HTML文件目录拖拽到此区域，或者点击按钮选择</div>
        <label class="btn " for="filePathDialog"><i class="icon-upload"></i> 选择目录 </label>
        <p style="display:none">释放鼠标选中文件</p>
    </div>
    <div class="item log">
        <table class="table table-striped">
            <thead>
            <tr>
                <td></td>
                <td style="text-align: center;width: 50px;"></td>
            </tr>
            </thead>
            <tbody id="outPutMsg" style="  -webkit-user-select: initial;">

            </tbody>
        </table>
        <!--
        <textarea name="base64code" id="outPutMsg" cols="30" rows="10" placeholder="log"></textarea>
        -->
    </div>

    <div class="item control-group">
        <div class="controls btn-group-test">
            <div class="input-append">
                <!--<select name="htmlVersion" id="htmlVersion">
                   <option value="0">请选择要比对的版本</option>
               </select>-->
                测试窗口宽度：<input type="text" class="input-mini" id="iframeWidth" placeholder="" value="320"/>
                测试窗口高度：<input type="text" class="input-mini" id="iframeHeight" placeholder="" value="1280"/>
           </div>
       </div>
        <div class="controls btn-group-test">
            <div class="input-append">
                <button class="btn" id="createVersion">批量更新用例</button>
                <button class="btn" id="startTest">回归测试</button>
            </div>
        </div>
       <div class="controls btn-group-css" style="display:none ">
           <input type="text" id="cssPath" placeholder="css文件路径" value=""/>
           <label class="btn" for="uploadCss" id="uploadCssLb">上传Css</label>
           <button class="btn" id="startCssTest">检测无用选择器</button>
           <button class="btn" id="startCssRulesTest">检测重复规则</button>
       </div>
        <div class="controls btn-group-css" style="display:none ">
            <input type="text" id="filterJsClass" placeholder="js动态样式，请用逗号隔开" value=""/>
            <button class="btn" id="clearUselessCss">一键清理</button>
        </div>
   <div class="progress" id="progress" style="display: none;">
       <div class="bar" style="width: 0;"></div>
   </div>
   <iframe src="" frameborder="0" id="iframe" class="hidden"></iframe>

   <script id="msgTepl" type="text/html">
       <% for (var i = 0; i < msg.length; i ++) { %>
       <tr class="<%if( (msg[i].type) === 1 ) {%> error <%}%>">
           <td><%=msg[i].txt%></td>
           <td style="text-align: center; width: 180px;">
               <%if( (msg[i].type) === 0 ) {%>
               <i class="icon-ok">
               <%} else if( (msg[i].type) === 1 ) {%>
               <a href="javascript:" onclick="showPic('<%=msg[i].fileName%>', '<%=msg[i].dest%>')"><i class=" icon-picture"></i> 截图对比</a>
               <a href="javascript:" onclick="showLog('<%=msg[i].id%>')"><i class=" icon-flag"></i> 数据详情</a>
               <%}%>
           </td>
       </tr>
       <% } %>
   </script>

    <script id="loadTepl" type="text/html">
        <% for (var i = 0; i < msg.length; i ++) { %>
        <tr class="<%if( (msg[i].type) === 1 ) {%> error <%}%>">
            <td><%=msg[i].txt%></td>
            <td style="text-align: center;width: 180px;">
                <%if( (msg[i].type) === 0 ) {%>
                <a href="javascript:" onclick="updateTestCase('<%=msg[i].id%>')"><i class="icon-eye-open"></i> 更新用例</a>
                <a href="javascript:" onclick="showPic('<%=msg[i].fileName%>', '<%=msg[i].dest%>', 1)"><i class=" icon-picture"></i> 查看截图</a>
                <%} else if( (msg[i].type) === 1 ) {%>
                <a href="javascript:" onclick="updateTestCase('<%=msg[i].id%>')"><i class="icon-eye-close"></i> 生成用例</a>
                <%}%>
            </td>
        </tr>
        <% } %>
    </script>


   <script id="msgTeplCss" type="text/html">
       <% for (var i = 0; i < msg.length; i ++) { %>
       <tr class="<%if( (msg[i].type) === 1 ) {%> error <%}%>">
           <td><%=msg[i].txt%></td>
           <td style="text-align: center;width: 120px;">
               <%if( (msg[i].type) === 1 ) {%>
               <i class="icon-ok"></i>
               <%} else if( (msg[i].type) === 0 ) {%>
               <a href="javascript:" onclick="showLogCss('<%=msg[i].id%>')"><i class=" icon-flag"></i> 查看详情</a>
               <%}%>
           </td>
       </tr>
       <% } %>
   </script>


<script id="msgCssRules" type="text/html">
    <tr>
        <td style="width: 260px">选择器</td>
        <td>重复规则</td>
        <td style="width: 60px">重复条数</td>
    </tr>
    <% for (var i = 0; i < msg.length; i ++) { %>
    <tr>
        <td style="width: 260px"><%=#msg[i].selectors%></td>
        <td><%=#msg[i].declarations%></td>
        <td style="width: 60px"><%=msg[i].count%></td>
    </tr>
    <% } %>
</script>
</div>

   <div id="alert" class="alert ">提示：请先选择html文件目录，默认当前软件所在目录</div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>