/*CSS Reset*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
html,
body {
  min-height: 100%;
  height: 100%;
}
body {
  font-family: 'Helvetica Neue', 'Roboto', "microsoft yahei";
  line-height: 24px;
  font-size: 14px;
  color: #1e1e1e;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  background: #f2f2f2;
}
body.white {
  background: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  display: block;
  border: 0;
}
li {
  list-style: none;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
a,
a:link,
a:visited,
a:hover,
a:active,
[onclick],
input {
  text-decoration: none;
  color: #f7a100;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
header,
nav,
section,
article,
footer,
figure,
figcaption {
  display: block;
}
